<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>

<body>

    <div class="container my-4">

        <!-- Intro -->

        <!-- Form -->
        <h3 class='text-center'>Customer Churn Predictor</h3>
        <div class="container my-4">
            <form action="/" method="POST">

                <!-- Gender -->
                <div class="form-group">
                    <label for="gender">Enter Gender (1 for Male and 0 for Female ))</label>
                    <input type="text" class="form-control" id="gender" name="gender">
                </div>

                <!-- subscription_length_months -->
                <div class="form-group">
                    <label for="subscription_length_months">Enter subscriptions month</label>
                    <input type="text" class="form-control" id="subscription_length_months" name="subscription_length_months">
                </div>

                <!-- monthly_bill -->
                <div class="form-group">
                    <label for="monthly_bill">Enter Monthly Bill</label>
                    <input type="text" class="form-control" id="monthly_bill" name="monthly_bill">
                </div>

                <!-- total_usage_gb -->
                <div class="form-group">
                    <label for="total_usage_gb">Enter Total Usage in GB</label>
                    <input type="text" class="form-control" id="total_usage_gb" name="total_usage_gb">
                </div>

                <!-- location_houston -->
                <div class="form-group">
                    <label for="location_houston">Enter 1 houston else 0</label>
                    <input type="text" class="form-control" id="location_houston" name="location_houston">
                </div>

                <!-- location_los_angeles -->
                <div class="form-group">
                    <label for="location_los_angeles">Enter 1 Los angeles else 0</label>
                    <input type="text" class="form-control" id="location_los_angeles" name="location_los_angeles">
                </div>

                <!-- location_miami -->
                <div class="form-group">
                    <label for="location_miami">Enter 1 Miami else 0</label>
                    <input type="text" class="form-control" id="location_miami" name="location_miami">
                </div>

                <!-- location_new_york -->
                <div class="form-group">
                    <label for="location_new_york">Enter 1 New York else 0</label>
                    <input type="text" class="form-control" id="location_new_york" name="location_new_york">
                </div>

                <!-- age_group_20_30 -->
                <div class="form-group">
                    <label for="age_group_20_30">Enter 1 for age 20-30 else 0</label>
                    <input type="text" class="form-control" id="age_group_20_30" name="age_group_20_30">
                </div>

                <!-- age_group_30_40 -->
                <div class="form-group">
                    <label for="age_group_30_40">Enter 1 for age 30-40 else 0</label>
                    <input type="text" class="form-control" id="age_group_30_40" name="age_group_30_40">
                </div>

                <!-- age_group_40_50 -->
                <div class="form-group">
                    <label for="age_group_40_50">Enter 1 for age 40-50 else 0</label>
                    <input type="text" class="form-control" id="age_group_40_50" name="age_group_40_50">
                </div>

                <!-- age_group_50_60 -->
                <div class="form-group">
                    <label for="age_group_50_60">Enter 1 for age 50-60 else 0</label>
                    <input type="text" class="form-control" id="age_group_50_60" name="age_group_50_60">
                </div>

                <!-- age_over_60 -->
                <div class="form-group">
                    <label for="age_over_60">Enter 1 for age over 60 else 0</label>
                    <input type="text" class="form-control" id="age_over_60" name="age_over_60">
                </div>


                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Predict</button>
                </div>
            </form>
        </div>





    </div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>